.box {
    background-color: lightgoldenrodyellow;
    margin: auto;
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
}

.title{
    color:palevioletred;
    font-size: 50px;
}

.backbutton{
    color:palevioletred;
    font-size: 30px;
    background-color: lightgoldenrodyellow;
    display: flex;
    justify-content: center;
    align-items: center;    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
    width: 100px;
    height:50px;

    position: fixed;
    margin-top: 100px;
    margin-left: 25px;
}